= turbo_stream_from "board"
= turbo_stream_from "sync_status"

- all_issues   = @presenter.columns.flat_map(&:all_issues)
- total_tickets = all_issues.size
- total_stale  = all_issues.count { |p| %i[somewhat really].include?(p.staleness) }
- configured_usernames = LASER_FOCUS_CONFIG.board.users.map { |u| u.jira_username.to_s }
- active_assignees     = all_issues.map(&:assignee).map(&:to_s)
- assignees = (configured_usernames + active_assignees).reject(&:empty?).uniq.sort

.kb-shell data-controller="board" data-board-statuses-value="[]" data-board-assignees-value="[]" data-board-query-value="" data-board-activity-value="{}" data-board-ghost-epic-value="false"

  header.kb-header
    .kb-brand
      = image_tag "/icon.png", alt: "", class: "kb-brand-logo"
      span.kb-brand-name LaserFocus

    = render "shared/header_filters", enabled: true

    .kb-header-right
      span.kb-counts
        | #{total_tickets} tickets ·
        span.stale= "#{total_stale} stale"

      - if @expand_all
        a.kb-expand-all-hint href=root_path title="Collapsed columns are shown expanded on this page. Click to go back to the stored layout."
          | showing collapsed

      = render "shared/view_tabs", current: (@presenter.community? ? :community : :board)

      = render "shared/header_tools", enabled: true, assignees: assignees, last_sync: @last_sync, warnings: @warnings

  = render "board/roadmap_line", alignment: @presenter.alignment

  main.kb-board#board-root data-board-target="root"
    - @presenter.column_groups.each do |group|
      - if group.size == 1 && !@presenter.stacked?(group.first)
        = render "board/column", column: group.first
      - else
        .kb-col-stack
          - group.each do |col|
            = render "board/column_collapsed", column: col

  div data-board-target="tooltip" class="kb-tt" hidden=true
